.movements{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    margin: 50px;
}

.buttons{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
}